{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-6 m-5">
      <h1>{% trans "Sign In" %}</h1>
      <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first to be able to like, leave 
        a comment and save your favorite recipes among other amazing things!{% endblocktrans %}</p>
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-warning btn-outline-dark" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>


{% endblock %}