a:hover {
    color: #adb5bd;
    text-decoration: underline;
}

.car-col {
    background-color: #FFF8DC;
}

.bg-car {
    background-color: #ffc107;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}