{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <!-- Featured recipes caroussel from Bootstrap -->
    <div class="row justify-content-center p-3 car-col">
        <div class="col-8 mb-5" style="width: 55%;">
            <div class="row">
                <h3 class="text-center my-4 text-secondary">Welcome to My Recipe Book!</h3>
                <p>Here you will be able to discover amazing new recipes from all around the world.</p>
                <p>If you wish to be able to comment, like and create your own recipes all you need to do is to create
                    an account by registering and start all the fun!</p>
            </div>
        </div>
    </div>
    <!-- Pop up message to notify succesfull registration, login or logout -->
    <div class="row m-3 justify-content-center">
        <div class="col-4">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<!-- All recipes index -->
<div class="container-fluid">
    <div class="row m-5">
        <h3 class="text-left text-secondary mt-3">Find all your new favourite recipes here:</h3>
    </div>
    <div class="col m-5">
        <div class="row justify-content-start mb-3">
            {% for recipe in recipe_list %}
            <!-- Recipe cards from Bootstrap -->
            <div class="col-lg-4 mb-5">
                <div class="card">
                    {% if "placeholder" in recipe.main_image.url %}
                    <img src="https://res.cloudinary.com/dswmcy3pq/image/upload/v1638457770/anna-pelzer-IGfIGP5ONV0-unsplash_dktx8e.jpg"
                        class="card-img-top p-2" alt="...">
                    {% else %}
                    <img src="{{ recipe.main_image.url }}" class="card-img-top p-2" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <!-- title and author -->
                        <h3 class="card-title">{{ recipe.title }}</h3>
                        <h5>Created by: {{ recipe.author }}</h5>
                        <!-- excerpt -->
                        <p class="card-text">{{ recipe.excerpt | safe }}</p>
                        <!-- difficulty and cooking time -->
                        <p><i class="fas fa-dumbbell"></i> Difficulty: {{ recipe.difficulty }}</p>
                        <p><i class="fas fa-clock"></i> Cooking Time: {{ recipe.time }}</p>
                        <!-- comments and likes -->
                            <div class="row">
                                <div class="col-4">
                                    <i class="far fa-heart btn-like"></i> {{ recipe.number_of_likes }} Likes
                                </div>
                            </div>
                        <!-- save & see recipe buttons -->
                        <a href="{% url 'recipe_post' recipe.slug  %}" class="btn btn-warning btn-outline-dark m-1">See
                            Recipe</a>
                        <a href="#" class="btn btn-warning btn-outline-dark m-1">Save Recipe</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row justify-content-start mb-3">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<!-- Pagination nav from Bootstrap -->
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item m-1">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">&laquoPrevious</a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="page-item m-1">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label=" Next">Next &raquo</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
</div>

{% endblock %}