{% extends "base.html" %}

{% block content %}

<!-- recipe featured image -->
<div class="container-fluid">
    <div class="row mx-auto p-3" style="width: 50%;">
        {% if "placeholder" in new_post.image.url %}
        <img src="https://res.cloudinary.com/dswmcy3pq/image/upload/v1638446796/Screenshot_2021-12-02_at_12.04.06_d3k2bp.png"
            class="card-img-top p-2" alt="...">
        {% else %}
        <img src="{{ new_post.image.url  }}" class="card-img-top p-2" alt="...">
        {% endif %}
    </div>
</div>

<!-- Recipe section -->
<div class="container-fluid p-5">
    <div class="row align-items-start pb-3 ps-3">
        <div class="col">
            <h1>{{ new_post.title }}</h1>
        </div>
    </div>
    <div class="row ps-3">
        <div class="col-4">
            <h3>Ingredients</h3>
            {{ new_post.ingredients_list }}
        </div>
        <div class="col-8">
            {{ new_post.content | safe }}
        </div>
    </div>
</div>

{% endblock %}