{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="col">
        <!-- recipe featured image -->
        <div class="row">
            <img src="https://res.cloudinary.com/dswmcy3pq/image/upload/v1638898824/Recipe%20fotos/rachel-park-hrlvr2ZlUNk-unsplash_kggjek.jpg" alt="">
        </div>
    </div>
        <!-- recipe title, name, update, etc -->
    <div class="col">
        <div class="row">
            <h1>Recipe title</h1>
        </div>
        <div class="row">
            <p>Author</p>
            <p>Updated on:</p>
        </div>
        <div class="row">
            <p>Content</p>
        </div>
        <div class="row">
            <p>Ingredients</p>
        </div>
    </div>
    <div class="col">
        
    </div>
</div>


{% endblock %}
