{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- recipe featured image -->
<div class="container-fluid">
    <div class="row mx-auto p-3" style="width: 70%;">
        <img src="https://res.cloudinary.com/dswmcy3pq/image/upload/v1638457770/anna-pelzer-IGfIGP5ONV0-unsplash_dktx8e.jpg"
            alt="">
    </div>
</div>

<!-- Recipe section -->
<div class="container-fluid p-5">
    <div class="row align-items-start pb-3 ps-3">
        <div class="col">
            <h1>{{ recipes.title }}</h1>
            <p>{{ recipes.author }} | {{ recipes.updated_on }}</p>
            <p><i class="fas fa-dumbbell"></i> Difficulty: {{ recipes.difficulty }}</p>
            <p><i class="fas fa-clock"></i> Cooking Time: {{ recipes.time }}</p>
            <p>
                <div class="row">
                    <div class="col-4">
                        <i class="far fa-heart"></i> {{ recipes.number_of_likes }} Likes
                    </div>
                    <div class="col-4">
                        <i class="far fa-comments"></i> {{ comments.number_of_comments }} Comments
                    </div>
                </div>
            </p>
        </div>
        <div class="col">
            <a href="" class="btn btn-warning btn-outline-dark m-2 w-75">
                <h4>Add to my calendar</h4>
            </a>
            <a href="#" class="btn btn-warning btn-outline-dark m-2 w-75">
                <h4>Save to my recipes</h4>
            </a>
        </div>
    </div>
    <div class="row ps-3">
        <div class="col-4">
            <h3>Ingredients</h3>
            {{ recipes.ingredients }}
        </div>
        <div class="col-8">
            {{ recipes.content }}
        </div>
    </div>
</div>
<!-- Comments section -->
<div class="container-fluid">
    <div class="row p-5 car-col">
        <div class="col">
            <h4>Comments:</h4>
            {% for comment in comments %}
            <div>
                <p>{{ comment.name }}</p>
                <p>{{ comment.content | linebreaks }}</p>
            </div>
            {% endfor %}
            <p></p>
        </div>
        <div class="w-25"></div>
        <div class="col">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-dark" role="alert">
                    Bare with us, we are checking your comment
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h4>Post your comment here:</h4>
                <p>Your username: {{ user.username }}</p>
                <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning btn-outline-dark w-25">Post</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}