{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid p-5">
    <center>
        <h1>Here you can create, update or delete your recipe</h1>

        {% if submitted %}

        Your recipe has been created succesfully!
        
        {% else %}

        <form action="" method="POST">
            {% csrf_token %}
            <div>
                {{ form | crispy }}
            </div>
            <br>
            <input type="submit" value="Submit" class="btn btn-warning btn-outline-dark w-25">
        </form>
        {% endif %}

    </center>
</div>


{% endblock %}