{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- recipe featured image -->
<div class="container-fluid">
    <div class="row mx-auto p-3" style="width: 50%">
        {% if "placeholder" in recipe.main_image.url %}
        <img src="https://res.cloudinary.com/dswmcy3pq/image/upload/v1638457770/anna-pelzer-IGfIGP5ONV0-unsplash_dktx8e.jpg"
            class="card-img-top p-2" alt="...">
        {% else %}
        <img src="{{ recipe.main_image.url }}" class="card-img-top p-2" alt="...">
        {% endif %}
    </div>
</div>

<!-- Recipe section -->
<div class="container-fluid p-5">
    <div class="row align-items-start pb-3 ps-3">
        <h1>{{ recipe.title }}</h1>
        <div class="col-4">
            <p>By: {{ recipe.author }} | {{ recipe.updated_on }}</p>
            <p><i class="fas fa-dumbbell"></i> Difficulty: {{ recipe.difficulty }}</p>
            <p><i class="fas fa-clock"></i> Cooking Time: {{ recipe.time }}</p>
            <p>
                <div class="row">
                    <div class="col-4">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' recipe.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{ recipe.slug }}" class="btn-like">
                                    <i class="fas fa-heart"></i>
                                </button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{ recipe.slug }}" class="btn-like">
                                    <i class="far fa-heart"></i>
                                </button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ recipe.number_of_likes }} Likes</span>
                        </strong>
                    </div>
                </div>
            </p>
        </div>
        <div class="col-8 align-self-center">
            <div class="row align-items-center">
                <p>{{ recipe.excerpt | safe }}</p>
                <!-- <a href="" class="btn btn-warning btn-outline-dark m-2 w-75">
                <h4>Add to my calendar</h4>
            </a>
            <a href="#" class="btn btn-warning btn-outline-dark m-2 w-75">
                <h4>Save to my recipes</h4>
            </a> -->
            </div>
        </div>
    </div>
    <div class="row ps-3">
        <div class="col-4">
            <h3>Ingredients</h3>
            {{ recipe.list | safe }}
        </div>
        <div class="col-8">
            <h3>Method</h3>
            {{ recipe.content | safe }}
        </div>
    </div>
</div>
<!-- Comments section -->
<div class="container-fluid">
    <div class="row p-5 car-col">
        <div class="col">
            <h4>Comments:</h4>
            {% for comment in comments %}
            <div>
                <p>{{ comment.name }}</p>
                <p>{{ comment.content | linebreaks }}</p>
            </div>
            {% endfor %}
            <p></p>
        </div>
        <div class="w-25"></div>
        <div class="col">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-dark" role="alert">
                    Bare with us, we are checking your comment
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h4>Post your comment here:</h4>
                <p>Your username: {{ user.username }}</p>
                <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning btn-outline-dark w-25">Post</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}